*{
    font-family: "Poor Story", system-ui;
    font-weight: 400;
    font-style: normal;
    
    box-sizing: border-box;
}
:root{
    font-size : 1rem;
}
body{}
a{
    text-decoration: none;
    color: black;
}
ul{
    padding : 0px;
    list-style: none;
}

.layout-5{
    padding : 0 5%;
}
.layout-10{
    padding : 0 10%;
}

.wrapper{
    position:relative;
}

/*  */
.wrapper>.top-header{
    height:50px;
    /* border : 1px solid; */

    display:flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper>.top-header>.left{
    width : 180px;
    height:100%;
    /* border : 1px solid; */

}
.wrapper>.top-header>.left>a{
    height:100%;
    font-size:1.8rem;
    font-style:italic;
    letter-spacing: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.wrapper>.top-header>.left>a>span:nth-child(1){
    color:black;
    font-weight:600;
}
.wrapper>.top-header>.left>a>span:nth-child(2){
    color:green;
}

.wrapper>.top-header>.left img{
    width:100%;
    height:100%;
    object-fit: contain;
}

.wrapper>.top-header>.center{
    /* border : 1px solid; */
    width:100%;
    height:100%;
    font-size:.8rem;
    text-align:right;

    display: flex;
    justify-content: right;
    align-items: center;
}
.wrapper>.top-header>.center>ul{
    height:100%;
    padding : 0px;
    margin:0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper>.top-header>.center>ul>li{
    width:70px;
   
    text-align:right;;
    position:relative;
    
    margin:0px;
    padding : 0px 10;    
    
    
   
    
}

.wrapper>.top-header>.center>ul>li:last-child{
 
   
  
    width : 50px;
    
  
}
.wrapper>.top-header>.center>ul>li .material-symbols-outlined{
    font-size:1.2rem;
    display:block;
    /* border : 1px solid; */
}

/* 
.wrapper>.top-header>.center>ul>li::after{
    content:"|";
    position:absolute;
    right:calc(-28%);
    top:0px;
    display:block;
    
}
.wrapper>.top-header>.center>ul>li:last-child:after{
    content:"";
}
 */

.wrapper>.top-header>.right{
    width : 180px;
    height:80px;
    /* border : 1px solid; */
}
.wrapper>.top-header>.right img{
    width:50px;
    height:100%;
    object-fit: contain;

    
}

.wrapper>nav{
    height:80px;
    border-top : 1px solid;
    border-bottom : 1px solid;

    display:flex;
    justify-content: space-between;
}
.wrapper>nav>.left{
    width:200px;
    height:100%;
    /* border : 1px solid; */
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color: royalblue; */
    background-image: url('/assets/top-header-left.jpg');
    background-repeat: no-repeat;
    background-size: 45px;
    background-position:left;
    
}

.wrapper>nav>.left{
    font-size:1.5rem;
    font-style: italic;
}
.wrapper>nav>.left>span:nth-child(1){
    color:black;
    font-weight:600;
}
.wrapper>nav>.left>span:nth-child(2){
    color:green;
}


.wrapper>nav>.right{
    width:100%;
   
    
}
.wrapper>nav>.right>ul.mainmenu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align:center;
}
.wrapper>nav>.right>ul.mainmenu>li{
    min-width : 180px;
    height:80px;
    opacity: .8;
    text-align:center;
   
    position:relative;
    
}
.wrapper>nav>.right>ul.mainmenu>li>a{
    height:78px;

    display:flex;
    justify-content: center;
    align-items: center;
    border-left : 1px solid ;
    border-right: 1px solid;

    position:relative;
    


}
.wrapper>nav>.right>ul.mainmenu>li>ul.submenu{
    border : 1px solid;

    position:relative;
    
}
.wrapper>nav>.right>ul.mainmenu>li>ul.submenu>li{
    line-height: 35px;
    /* border : 1px solid; */
}

.wrapper>nav>.right>ul.mainmenu>li>ul.submenu>li>a{
    height:100%;
    display:block;
    

}
.wrapper>nav>.right>ul.mainmenu>li>ul.submenu>li>.submenu2{
   
}
.wrapper>nav>.right>ul.mainmenu>li>ul.submenu>li>.submenu2>li{
  
    
}
.wrapper>nav>.right>ul.mainmenu>li>ul.submenu>li>.submenu2>li>a{}


.wrapper>nav>.right>ul.mainmenu>li.ranking-menu>.submenu>li>a{
    background-color: lightgray;
}


/* mainmenu hover시 */
.wrapper>nav>.right>ul.mainmenu>li:hover{
    opacity: 1;
}
.wrapper>nav>.right>ul.mainmenu>li>ul.submenu{
    display:none;
}

.wrapper>nav>.right>ul.mainmenu>li:hover .submenu{
    display:block;
}

/*  */
.wrapper>main{}
.wrapper>main>section{}

/*  */
.wrapper>footer{}

